<p id="notice"><%= notice %></p>

<p>
  <b>Article number:</b>
  <%= @fabric_information_sheet.article_number %>
</p>

<p>
  <b>Fiber content:</b>
  <%= @fabric_information_sheet.fiber_content %>
</p>

<p>
  <b>Construction:</b>
  <%= @fabric_information_sheet.construction %>
</p>

<p>
  <b>Yarn count:</b>
  <%= @fabric_information_sheet.yarn_count %>
</p>

<p>
  <b>Gauge:</b>
  <%= @fabric_information_sheet.gauge %>
</p>

<p>
  <b>Weight:</b>
  <%= @fabric_information_sheet.weight %>
</p>

<p>
  <b>Width full:</b>
  <%= @fabric_information_sheet.width_full %>
</p>

<p>
  <b>Width cuttable:</b>
  <%= @fabric_information_sheet.width_cuttable %>
</p>

<p>
  <b>Finishing:</b>
  <%= @fabric_information_sheet.finishing %>
</p>

<p>
  <b>Features:</b>
  <%= @fabric_information_sheet.features %>
</p>

<p>
  <b>Care:</b>
  <%= @fabric_information_sheet.care %>
</p>

<p>
  <b>Dyeing method:</b>
  <%= @fabric_information_sheet.dyeing_method %>
</p>

<p>
  <b>Dobby jacquard:</b>
  <%= @fabric_information_sheet.dobby_jacquard %>
</p>

<p>
  <b>Pattern repeat:</b>
  <%= @fabric_information_sheet.pattern_repeat %>
</p>

<p>
  <b>Print method:</b>
  <%= @fabric_information_sheet.print_method %>
</p>

<p>
  <b>Warp weft:</b>
  <%= @fabric_information_sheet.warp_weft %>
</p>

<p>
  <b>Country:</b>
  <%= @fabric_information_sheet.country %>
</p>

<p>
  <b>Sewing factory:</b>
  <%= @fabric_information_sheet.sewing_factory %>
</p>

<p>
  <b>Unit price:</b>
  <%= @fabric_information_sheet.unit_price %>
</p>

<p>
  <b>Price date agree:</b>
  <%= @fabric_information_sheet.price_date_agree %>
</p>

<p>
  <b>Bulk order color:</b>
  <%= @fabric_information_sheet.bulk_order_color %>
</p>

<p>
  <b>Bulk order total:</b>
  <%= @fabric_information_sheet.bulk_order_total %>
</p>

<p>
  <b>Bulk lead:</b>
  <%= @fabric_information_sheet.bulk_lead %>
</p>

<p>
  <b>Sample order color:</b>
  <%= @fabric_information_sheet.sample_order_color %>
</p>

<p>
  <b>Sample order total:</b>
  <%= @fabric_information_sheet.sample_order_total %>
</p>

<p>
  <b>Sample lead:</b>
  <%= @fabric_information_sheet.sample_lead %>
</p>

<p>
  <b>Bulk surcharge order:</b>
  <%= @fabric_information_sheet.bulk_surcharge_order %>
</p>

<p>
  <b>Sample surcharge order:</b>
  <%= @fabric_information_sheet.sample_surcharge_order %>
</p>

<p>
  <b>Surcharge note:</b>
  <%= @fabric_information_sheet.surcharge_note %>
</p>

<p>
  <b>Blue sign cert:</b>
  <%= @fabric_information_sheet.blue_sign_cert %>
</p>

<p>
  <b>Sgs cert:</b>
  <%= @fabric_information_sheet.SGS_cert %>
</p>

<p>
  <b>Oke tex cert:</b>
  <%= @fabric_information_sheet.oke_tex_cert %>
</p>

<p>
  <b>Other cert:</b>
  <%= @fabric_information_sheet.other_cert %>
</p>

<p>
  <b>Exo standards:</b>
  <%= @fabric_information_sheet.exo_standards %>
</p>

<p>
  <b>Exo standards note:</b>
  <%= @fabric_information_sheet.exo_standards_note %>
</p>

<p>
  <b>Standards sent:</b>
  <%= @fabric_information_sheet.standards_sent %>
</p>

<p>
  <b>Standards received:</b>
  <%= @fabric_information_sheet.standards_received %>
</p>

<p>
  <b>References:</b>
  <%= @fabric_information_sheet.references %>
</p>

<p>
  <b>References:</b>
  <%= @fabric_information_sheet.references %>
</p>

<p>
  <b>References:</b>
  <%= @fabric_information_sheet.references %>
</p>


<%= link_to 'Edit', edit_fabric_information_sheet_path(@fabric_information_sheet) %> |
<%= link_to 'Back', fabric_information_sheets_path %>
